<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <title>EURO 2024</title>
</head>

<body class="bg-gray-100">
    <header>
        <div class="p-4 bg-slate-700">
            <nav>
                <div class="flex items-center justify-between">
                    <span class="uppercase font-mono text-lg font-bold text-yellow-300">EURO 2024</span>
                    <div class="relative">
                            <select name="group" onchange="updateGroups(this)"
                                class="bg-slate-500 text-white font-medium rounded-md pl-2 pr-8 py-1 border hover:cursor-pointer border-slate-400 focus:outline-none appearance-none">
                                <option value="A">Group A</option>
                                <option value="B">Group B</option>
                                <option value="C">Group C</option>
                                <option value="D">Group D</option>
                            </select>
                            <div class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
                                <svg class="w-5 h-5 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 9l-7 7-7-7"></path>
                                </svg>
                            </div>
                        </div>

                    </div>

                </div>
            </nav>
        </div>
    </header>

    <main class="py-6">
        <div class="container mx-auto px-4">


            <div class="bg-white shadow-lg rounded-lg p-6 mx-auto max-w-5xl">


                <table class="min-w-full bg-white border border-gray-200 rounded-lg text-center">
                    <thead class="bg-gray-200">
                        <tr>
                            <th class="py-2 px-4 border-b text-gray-500">Ranking</th>
                            <th class="py-2 px-4 border-b text-gray-500">Team</th>
                            <th class="py-2 px-4 border-b text-gray-500">Points</th>
                            <th class="py-2 px-4 border-b text-gray-500">Wins</th>
                            <th class="py-2 px-4 border-b text-gray-500">Draws</th>
                            <th class="py-2 px-4 border-b text-gray-500">Losses</th>
                        </tr>
                    </thead>
                    <tbody id="group-stats-body">
                        <!-- Rows will be inserted dynamically here -->
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <script>
        let updateGroups = async (obj) => {
            try {
                let response = await fetch('/api/group-stats', {
                    method: 'POST',
                    body: `group=${obj.value}`,
                    headers: {
                        'content-type': 'application/x-www-form-urlencoded'
                    }
                });

                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }

                let data = (await response.json())['data'];

                const tableBody = document.getElementById('group-stats-body');
                tableBody.innerHTML = '';

                data.forEach((row, index) => {
                    const rowElement = document.createElement('tr');

                    rowElement.innerHTML = `
                        <td class="py-2 px-4 border-b text-gray-700">${index + 1}</td>
                        <td class="py-2 px-4 border-b text-gray-700">${row.team_name}</td>
                        <td class="py-2 px-4 border-b text-gray-700">${row.points}</td>
                        <td class="py-2 px-4 border-b text-gray-700">${row.wins}</td>
                        <td class="py-2 px-4 border-b text-gray-700">${row.draws}</td>
                        <td class="py-2 px-4 border-b text-gray-700">${row.losses}</td>
                    `;

                    tableBody.appendChild(rowElement);
                });

            } catch (error) {
                console.error('Error fetching group data:', error);
            }
        }
    </script>
</body>

</html>